img {
    width: 300px;
    height: auto;
}

* {
    background-color: beige;
}

h1, h2 {
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    font-weight: bold;
}

li, p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}