img {
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
}

html {
    background-color: blanchedalmond;
}

.title {
    font-size: large;
    padding: 0;
    margin: 10px auto;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-weight: bolder;
}

.subtitle {
    text-align: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
}

.description, .ingredients, .steps, .recipes {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
    color: black;
    border: 2px solid black;
    margin: 8px;
    text-align: justify;
    padding: 10px;
}